<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springsecuritycustomuserdetails.mybatis.mapper.AuthenticationMapper">
    <select id="loadUserByUsername" resultType="com.example.springsecuritycustomuserdetails.mybatis.entity.UserDAO">
        select * from user where username = #{username} limit 1
    </select>
    <select id="findRoleByUserId" resultType="com.example.springsecuritycustomuserdetails.mybatis.entity.Role">
        select * from role where user_id = #{userId}
    </select>
</mapper>